# WordPress - Ignore core, configuration, examples, uploads, and logs.
# Source: https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Ignore WordPress Core files
/wp-admin/
/wp-content/index.php
/wp-content/languages/
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Ignore Configuration files
wp-config.php

# Ignore Example Themes and Plugins
/wp-content/themes/twenty*/
/wp-content/plugins/hello.php

# Ignore Uploads and Log files
/wp-content/uploads/
*.log

# Ignore htaccess
/.htaccess

# Ignore Development Files
node_modules/
vendor/
npm-debug.log
yarn-error.log
*.bak
*.swp

# Ignore Editor and IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignore WordPress Cache files
wp-content/cache/
wp-content/upgrade/

# Ignore Build Artifacts
*.zip
*.tar.gz
*.rar
